<ion-content text-center>
  <ion-row>
    <ion-col size="0.5"></ion-col>
    <ion-col style="font-size: 15pt; margin-top: 40%">Descanse alguns segundos!
    </ion-col>
    <ion-col size="0.5"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <circle-progress class="ion-justify-content-center" [percent]="timer" [radius]="100" [outerStrokeWidth]="5"
        [innerStrokeWidth]="3" [outerStrokeColor]="'#422888'" [innerStrokeColor]="'#422888'" [animation]="false"
        [animationDuration]="300" [showTitle]="true" [title]="Descanso" [showSubtitle]="false" [maxPercent]="30"
        [showUnits]="false" [renderOnClick]="false" [maxPercent]="30" disabled></circle-progress>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Próximo exercício</ion-col>
  </ion-row>
  <ion-row>
    <ion-col></ion-col>
    <ion-card padding>
      <ion-col style="font-size: 15pt">
        {{data.name}}
      </ion-col>
      <ion-col style="font-size: 15pt" *ngIf="data.rep != null">
        {{data.rep}} repetições
      </ion-col>
      <ion-col style="font-size: 15pt" *ngIf="data.seconds != null">
        {{data.seconds}} segundos
      </ion-col>
    </ion-card>
    <ion-col></ion-col>
  </ion-row>
</ion-content>