progress-bar {
  background-color: white;
  font-family: "calibri";
}

ion-title {
  text-align: center;
  font-size: 110%;
  font-family: "calibri";
}

.diasrestantes {
  text-align: center;
  font-size: 110%;
  margin-top: 10%;
  font-family: "calibri";
}

:host {
  div {
    position: sticky;
    min-width: 100%;
    min-height: 100%;
  }

  ion-content {
    margin-top: 0px;
  }
}