ion-content {
  margin-top: 0px;
}

progress-bar {
  background-color: white;
  font-family: 'calibri';
}
ion-title {
  text-align: center;
  font-size: 110%;
  font-family: 'calibri';
}

.iniciar{
  margin-top: 100%;
  font-family: 'calibri';
  font-size: 110%;
}

.diasrestantes{
  text-align: center;
  font-size: 110%;
  margin-top: 10%;
  font-family: 'calibri';
}

.semana1{
  position: absolute;
  left: 3%;
  font-family: 'calibri';
  font-size: 110%;
  margin-top: 2%;
}

.left1{
  position: absolute;
  left: 1%;
  margin-top: 10%;
}
.left2{
  position: absolute;
  left: 15%;
  margin-top: 10%;
}
.left3{
  position: absolute;
  left: 29%;
  margin-top: 10%;
}
.left4{
  position: absolute;
  left: 43%;
  margin-top: 10%;
}
.left5{
  position: absolute;
  left: 57%;
  margin-top: 10%;
}
.left6{
  position: absolute;
  left: 71%;
  margin-top: 10%;
}
.left7{
  position: absolute;
  left: 85%;
  margin-top: 10%;
}

.semana2{
  position: absolute;
  left: 3%;
  font-family: 'calibri';
  font-size: 110%;
  margin-top: 25%;
}

.left11{
  position: absolute;
  left: 1%;
  margin-top: 33%;
}
.left12{
  position: absolute;
  left: 15%;
  margin-top: 33%;
}
.left13{
  position: absolute;
  left: 29%;
  margin-top: 33%;
}
.left14{
  position: absolute;
  left: 43%;
  margin-top: 33%;
}
.left15{
  position: absolute;
  left: 57%;
  margin-top: 33%;
}
.left16{
  position: absolute;
  left: 71%;
  margin-top: 33%;
}
.left17{
  position: absolute;
  left: 85%;
  margin-top: 33%;
}

.semana3{
  position: absolute;
  left: 3%;
  font-family: 'calibri';
  font-size: 110%;
  margin-top: 48%;
}

.left21{
  position: absolute;
  left: 1%;
  margin-top: 56%;
}
.left22{
  position: absolute;
  left: 15%;
  margin-top: 56%;
}
.left23{
  position: absolute;
  left: 29%;
  margin-top: 56%;
}
.left24{
  position: absolute;
  left: 43%;
  margin-top: 56%;
}
.left25{
  position: absolute;
  left: 57%;
  margin-top: 56%;
}
.left26{
  position: absolute;
  left: 71%;
  margin-top: 56%;
}
.left27{
  position: absolute;
  left: 85%;
  margin-top: 56%;
}

.semana4{
  position: absolute;
  left: 3%;
  font-family: 'calibri';
  font-size: 110%;
  margin-top: 71%;
}

.left31{
  position: absolute;
  left: 1%;
  margin-top: 79%;
}
.left32{
  position: absolute;
  left: 15%;
  margin-top: 79%;
}
.left33{
  position: absolute;
  left: 29%;
  margin-top: 79%;
}
.left34{
  position: absolute;
  left: 43%;
  margin-top: 79%;
}
.left35{
  position: absolute;
  left: 57%;
  margin-top: 79%;
}
.left36{
  position: absolute;
  left: 71%;
  margin-top: 79%;
}
.left37{
  position: absolute;
  left: 85%;
  margin-top: 79%;
}