<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Corpo Todo</ion-title>
    <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active" fill='clear' size="small">
      <ion-icon name="arrow-back" color="dark"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content style="--overflow: hidden;">
  <div class="diasrestantes">
    {{remainingDays}} dias restantes
  </div>
  <progress-bar [progress]="loadProgress" [color]="'#57c79a'"> </progress-bar>

  <div class="semana1">
    Semana 1
  </div>

  <ion-button class="left1" [routerLink]="['/traningrelease']" routerLinkActive="router-link-active">
    1
  </ion-button>
  <ion-button class="left2">
    2
  </ion-button>
  <ion-button class="left3">
    3
  </ion-button>
  <ion-button class="left4">
    4
  </ion-button>
  <ion-button class="left5">
    5
  </ion-button>
  <ion-button class="left6">
    6
  </ion-button>
  <ion-button class="left7">
    7
  </ion-button>

  <div class="semana2">
    Semana 2
  </div>

  <ion-button class="left11">
    1
  </ion-button>
  <ion-button class="left12">
    2
  </ion-button>
  <ion-button class="left13">
    3
  </ion-button>
  <ion-button class="left14">
    4
  </ion-button>
  <ion-button class="left15">
    5
  </ion-button>
  <ion-button class="left16">
    6
  </ion-button>
  <ion-button class="left17">
    7
  </ion-button>

  <div class="semana3">
    Semana 3
  </div>

  <ion-button class="left21">
    1
  </ion-button>
  <ion-button class="left22">
    2
  </ion-button>
  <ion-button class="left23">
    3
  </ion-button>
  <ion-button class="left24">
    4
  </ion-button>
  <ion-button class="left25">
    5
  </ion-button>
  <ion-button class="left26">
    6
  </ion-button>
  <ion-button class="left27">
    7
  </ion-button>
  <div class="semana4">
    Semana 4
  </div>

  <ion-button class="left31">
    1
  </ion-button>
  <ion-button class="left32">
    2
  </ion-button>
  <ion-button class="left33">
    3
  </ion-button>
  <ion-button class="left34">
    4
  </ion-button>
  <ion-button class="left35">
    5
  </ion-button>
  <ion-button class="left36">
    6
  </ion-button>
  <ion-button class="left37">
    7
  </ion-button>

  <ion-button class="iniciar" expand="full" shape="round">
      Iniciar
  </ion-button>
</ion-content>