<ion-content>
  <body>
    <div>Por onde deseja começar ? </div>
    
    <ion-list style="background-color:rgba(0, 0, 0, 0.3);">
      <ion-radio-group name="Level">
        <ion-item>
          <ion-label>Iniciante</ion-label>
          <ion-radio color="light" value="iniciante"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Intermediário</ion-label>
          <ion-radio color="light" value="intermediário"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Avançado</ion-label>
          <ion-radio color="light" value="avançado"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-button color="primary" expand= "full" shape= "round" fill='outline' >Começar</ion-button>
  </body>
</ion-content>

