<ion-content fullscreen='true' scrollX='false' scrollY='false' color="light">
  <ion-grid>
    <ion-row>
      <ion-img src='{{day2[5].gifPath}}' style="width: 80%; height: 80%; margin: 20%"></ion-img>
    </ion-row>
    <ion-row style="font-size: 45pt;" class="ion-justify-content-center">
      {{day2[5].name}}
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col>
        <circle-progress class="ion-justify-content-center" [percent]="timer" [radius]="100" [outerStrokeWidth]="5"
          [innerStrokeWidth]="3" [outerStrokeColor]="'#422888'" [innerStrokeColor]="'#422888'" [animation]="false"
          [animationDuration]="300" [showTitle]="true" [title]="Descanso" [showSubtitle]="false" [maxPercent]="30"
          [showUnits]="false" [renderOnClick]="false" [maxPercent]="30" disabled></circle-progress>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>