<div #perfectScrollbar>
  <ion-header>
    <ion-toolbar color='primary'>
      <ion-title>Corpo Todo</ion-title>
      <ion-button [routerLink]="['/remainingdays']" routerLinkActive="router-link-active" fill='clear' size="small">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item>
      <div class="treino">
        {{treino}}
      </div>
      <div class="dif">
        {{dificuldade}}
      </div>
    </ion-item>

    <ion-card class="cardi">
      <ion-card-header>
        <ion-card-title class="cardtitle">
          Saltar à Corda.
        </ion-card-title>
        <ion-card-subtitle>
          00:22
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="cardtitle">
          Saltar à Corda.
        </ion-card-title>
        <ion-card-subtitle>
          00:22
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="cardtitle">
          Saltar à Corda.
        </ion-card-title>
        <ion-card-subtitle>
          00:22
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="cardtitle">
          Saltar à Corda.
        </ion-card-title>
        <ion-card-subtitle>
          00:22
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title class="cardtitle">
          Saltar à Corda.
        </ion-card-title>
        <ion-card-subtitle>
          00:22
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-button class="botao" expand="block">
      Iniciar
    </ion-button>
  </ion-content>
</div>