<ion-content>
  <ion-button [routerLink]="['/home']" routerLinkActive="router-link-active">
    <ion-icon name="close"></ion-icon>
  </ion-button>

  <ion-card>
    <ion-card-title class="font">
      Defina sua meta Semanal
    </ion-card-title>
    <ion-card-subtitle class="font">
      Para resultados melhores, recomendamos pelo menos 3 dias de treino por semana.
    </ion-card-subtitle>
  </ion-card>
  <ion-list class="font">
    <ion-item class="font">
      <ion-label class="font">Dias de Treino</ion-label>
      <ion-select class="font" value="3dias" okText="OK" cancelText="Cancelar">
        <ion-select-option class="font" value="1dia">1 Dia</ion-select-option>
        <ion-select-option class="font" value="2dias">2 Dias</ion-select-option>
        <ion-select-option class="font" value="3dias">3 Dias</ion-select-option>
        <ion-select-option class="font" value="4dias">4 Dias</ion-select-option>
        <ion-select-option class="font" value="5dias">5 Dias</ion-select-option>
        <ion-select-option class="font" value="6dias">6 Dias</ion-select-option>
        <ion-select-option class="font" value="7dias">7 Dias</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list class="font">
    <ion-item class="font">
      <ion-label class="font">Primeiro dia</ion-label>
      <ion-select class="font" value="segunda" okText="OK" cancelText="Cancelar">
        <ion-select-option class="font" value="domingo">Domingo</ion-select-option>
        <ion-select-option class="font" value="segunda">Segunda-feira</ion-select-option>
        <ion-select-option class="font" value="sabado">Sábado</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>


</ion-content>