<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/remainingdays']" routerLinkActive="router-link-active">
        <ion-icon name="arrow-back" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title slot="start">CORPO TODO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen='true' scrollX='false' color="light">
  <ion-item>
    <div class="treino">
      <b>Exercícios:</b> {{day.length}}
    </div>
    <div class="dif">
      {{dificuldade}}
    </div>
  </ion-item>

  <ion-card *ngFor="let count of day; let i = index;">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-label><b>{{day[i].name}}</b></ion-label>
          <br><br>
          <ion-label *ngIf="day[i].seconds != null">{{day[i].seconds}} segundos</ion-label>
          <ion-label *ngIf="day[i].rep != null">{{day[i].rep}}</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-img src='{{day[i].gifPath}}' style="width: 50px; height: 50px"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-button class="botao" [routerLink]="['/activity/']" routerLinkActive="router-link-active">
    Iniciar
  </ion-button>
</ion-content>