.font{
  font-size: 120%;
  font-family: 'calibri';
  margin-left: 5%;
  margin-top: 5%;
}

::ng-deep {
  @import "~perfect-scrollbar/css/perfect-scrollbar";
}

:host {
  div {
   position: relative;
   width: 100%;
   height: 100%;
 }
}