<div #perfectScrollbar>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-item>
      <div class="font">
        Meta da semana
        <ion-button [routerLink]="['/goals']" routerLinkActive="router-link-active" size='small'>
          1
        </ion-button>
      </div>
    </ion-item>
    <ion-list>
      Iniciante

    </ion-list>
  </ion-content>
</div>