<ion-content text-center>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-label>
        <ion-icon name="trophy" style="zoom:8.0; color:gold; margin-top: 30%"></ion-icon>
      </ion-label>
    </ion-row>
    <ion-row style="font-size: 150%;" class="ion-justify-content-center">
      <ion-label>
        1º Dia concluido!
      </ion-label>
    </ion-row>
    <ion-row style="font-size: 150%; margin-top: 30%" class="ion-justify-content-center">
      <ion-label>
        Parabéns por ter completado todos os exercícios!
      </ion-label>
    </ion-row>
    <ion-row style="font-size: 150%;" class="ion-justify-content-center">
      <ion-button class="botao" [routerLink]="['/home/']" routerLinkActive="router-link-active">
        Retornar a página inicial
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>